services:
    web:
        build:
            context: ./
            dockerfile: provisioning/Dockerfile_web
        volumes:
            - ./:/var/www/html/
        ports:
            - "08:80"
        networks:            
            - testnet
        depends_on:
            - mysql
        environment:
            - DATABASE_DSN=mysql:host=mysql;dbname=pureftp
            - DATABASE_USER=username
            - DATABASE_PASS=password

    ftp:
        build:
            context: ./
            dockerfile: provisioning/Dockerfile_pureftp
        expose:
            - 21
        networks:            
            - testnet
        privileged: true

    mysql:
        image: mariadb:latest
        expose:
            - 3306
        networks:            
            - testnet
        environment:
           MYSQL_INITDB_SKIP_TZINFO: non-empty
           MYSQL_ROOT_PASSWORD: test
           MYSQL_USER: username
           MYSQL_PASSWORD: password
           MYSQL_DATABASE: pureftp
        volumes:
            - ./schema.sql:/docker-entrypoint-initdb.d/pureftp-schema.sql
networks:
    testnet:
