<!DOCTYPE html>
<head>
    <meta chaset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>PureUserAdmin - {{ page_title }}</title>
    <style type="text/css">
        a.toplinks {
            font-weight: bold;
        }
    </style>
</head>
<body>

<header>
    <nav>
        <ul style="text-align: center;">
            <li style="display: inline-block"><a class="toplinks" href="?">[ Home ]</a></li>
            <li style="display: inline-block"><a class="toplinks" href="?action=new_user">[ New User ]</a></li>
            <li style="display: inline-block"><a class="toplinks" href="?action=user_list">[ Userlist ]</a></li>
            <li style="display: inline-block"><a class="toplinks" href="https://github.com/DavidGoodwin/pureftp-user-admin">[ Project Page ]</a></li>
        </ul>
    </nav>

    {%  for message in messages.info %}
    <p style="color: blue">{{  message }}</p>
    {%  endfor %}
    {%  for message in messages.error %}
        <p style="color: red">{{  message }}</p>
    {%  endfor %}

</header>


<article>
    <div style="width: 90%; margin-left: auto; margin-right: auto;">
        {% include body_template %}
    </div>
</article>
</body>
</html>
